.neo-button.neumorphic-button {
    background-color: transparent;
    border          : none;
    border-radius   : 4px;
    font-size       : 2em;
    height          : 2em;
    padding         : 1.3em;
    width           : 2em;

    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

    &:active {
        background-color: transparent !important;

        box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5) !important;
    }

    &:hover {
        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2),
        -4px -4px 6px 0 rgba(255, 255, 255, 0.5);
    }

    .neo-button-glyph {
        color    : #999;
        font-size: .8em;
    }

    .neo-button-text {
        color      : #999;
        font-family: Helvetica Neue;
        font-size  : .4em;
        font-weight: bolder;

        &:after {
            background-color: currentColor;
            border-radius   : 1em;
            content         : "";
            display         : block;
            height          : 0.15em;
            margin          : .6em auto 0;
            width           : 50%;
        }
    }
}
